body {
    background-image: url(img/imagen\ fondo\ 1.jpg);
    background-size: 100% auto;
    text-align: center;
    color:rgb(30, 3, 82);
    font-family: Georgia;
}

.hide {
    display: none;
}

#cifrar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia;
    color: #ffffff;
    background-color:#11435c;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#decifrar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: Georgia;
    color: #ffffff;
    background-color:#11435c;
    border-radius: 6px;
    border: 2px solid #0016b0;
}